name: Build and publish Docker image

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-image:
    name: "Build and Push Image"
    if: github.repository_owner == 'Jayco-Design'
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64,linux/amd64
          push: true
          tags: |
            fergusapp/mcp:${{ github.event.release.tag_name }}
            fergusapp/mcp:latest
          labels: |
            org.opencontainers.image.description=Fergus MCP Server
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.source=https://github.com/fergusapp/fergus-mcp
            org.opencontainers.image.title=Fergus MCP Server
            org.opencontainers.image.url=https://github.com/fergusapp/fergus-mcp
            org.opencontainers.image.vendor=Fergus
            org.opencontainers.image.version=${{ github.event.release.tag_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
